ragas
llama-index==0.10.37
llama-index-llms-openai
llama-index-llms-huggingface
llama-index-llms-ollama
llama-index-llms-bedrock
llama-index-embeddings-openai
llama-index-embeddings-ollama
llama-index-embeddings-bedrock
llama-index-vector-stores-postgres
llama-index-vector-stores-opensearch
llama-index-vector-stores-elasticsearch
llama-index-retrievers-bm25
llama-index-postprocessor-cohere-rerank
llama-index-postprocessor-colbert-rerank
llama-index-readers-smart-pdf-loader
jupyter
notebook
chromadb
boto3
sentence-transformers
transformers
accelerate
bitsandbytes
matplotlib
llmsherpa
langsmith
llama-index-callbacks-langfuse